<!DOCTYPE html>

<html>

<head>
<meta charset="UTF-8">
<title>{{ .Title }} - 非同期エンジニアブログ</title>
</head>

<body>
<a href="../">戻る</a>

{{ .Content }}

<a href="../">戻る</a>

<p>↓ 故障中</p>

<div class="comento" id="comento"></div>

<form class="comento-form" name="comento">
  <label>Name:<br><input type="text" name="name" value="John Doe"></label><br>
  <br>
  <label>Comment:<br><textarea name="comment"></textarea></label><br>
  <br>
  <button type="button" onclick="post()">Submit</button>
</form>

<style>
body {
  margin: 10px;
}

pre {
  color: white;
  background-color: black;
}

.comento {
  background-color: black;
  padding-top:    10px;
  padding-left:   10px;
  padding-right:  10px;
  padding-bottom: 10px;
}

.name {
  color: white;
  background-color: grey;
  margin-top:    0px;
  margin-bottom: 0px;
}

.comment {
  color: white;
  background-color: grey;
  margin-top:     0px;
  margin-bottom: 20px;
}

.comento-form {
  color: white;
  background-color: black;
  padding-left:   10px;
  padding-right:  10px;
  padding-bottom: 10px;
}
</style>

<script>
let action = "";

if (/\/$/.test(location.pathname)) {
  action = 'https://hoge1.xyz/get?thread=' + location.pathname + 'index.html';
} else {
  action = 'https://hoge1.xyz/get?thread=' + location.pathname;
}

fetch(action, {
  mode: 'cors'
}).then(res => {
  return res.text();
}).then(text => {
  let data = JSON.parse(text);
  let comments = "";
  for (let record of data) {
    comments += '<p class="name">' + record.name + '</p>'
        + '<p class="comment">' + record.comment + "</p>";
  }
  comento.innerHTML = comments;
});

function post() {
  let action;

  if (/\/$/.test(location.pathname)) {  // Does the URL end with "/"?
    action = 'https://hoge1.xyz/post?thread=' + location.pathname + 'index.html';
  } else {
    action = 'https://hoge1.xyz/post?thread=' + location.pathname;
  }

  document.comento.method = 'post';
  document.comento.action = action;
  document.comento.submit();
}
</script>
</body>

</html>
